:root {
	--primary-color: #2875d9;
}

@font-face {
	font-family: "Computer Modern";
	src: url('./paper/cmunrm.ttf');
}

html, body, #write {
	font-family: 'Computer Modern';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Computer Modern';
}

html {
	font-size: 20px;
}

#write {
	max-width: 914px;
	text-align: justify;
}

p {
	font-size: 1rem;
}

/* Stuff */

sup.md-footnote {
	background-color: transparent;
	color: var(--primary-color);
	padding: 1px;
	margin: 0;
}

code, .md-fences {
	background: #f2f2f2;
}

.md-fences {
	font-size: 1em;
	padding: .5rem;
}

.show-fences-line-number .md-fences {
	padding-left: .5rem;
}

blockquote {
	margin: 0 0 1.11111rem;
	padding: 0.5rem 1.11111rem 0 1.05556rem;
	border-left: 1px solid gray;
}

blockquote, blockquote p {
	line-height: 1.6;
	color: #6f6f6f;
}

mark {
	background: yellow;
}

/* UI */

input, #typora-sidebar {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media print {
	h1 {
		page-break-before: always;
	}
	h1:first-of-type {
		page-break-before: avoid;
	}
}

img {
	display: block;
	margin: auto;
}